/**
 * This file is for visual formatting of the styleguide only.
 *
 * NOT part of the Drupal UI.
 */

.sg-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaaaaa;
  font-weight: normal;
  text-align: right;
}
.sg-heading-a {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 48px;
  margin-bottom: 48px;
}
.sg-heading-b {
  margin-top: 48px;
  border-top: 1px solid #cccccc;
  margin-bottom: 18px;
  padding-top: 6px;
  font-size: 18px;
  line-height: 24px;
}

