.nav-list {
  border-top: 1px solid #bfbfbf;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item {
 display: block;
 padding: 0;
 margin: 0;
}

.nav-list__link {
  background: url('../../_images/nav-list-icon.png') no-repeat 1px 16px;
  border-bottom: 1px solid #bfbfbf;
  display: block;
  padding: 11px 15px 11px 25px;
  text-decoration: none;
}

.nav-list--pane__link--last {
  border-bottom: none;
  padding-bottom: 0;
}

.nav-list__title {
  color: #0074bd;
  display: block;
}

.nav-list__description {
  color: #555;
  font-size: .875em; /* 14px */
  margin: 0;
}

.nav-list__title + .nav-list__description {
margin-top: -3px;
}

.nav-list__link:hover {
text-decoration: none;
}

.nav-list__link:hover .nav-list__title {
text-decoration: underline;
}

